*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.form-back{
		background-image: linear-gradient(to right, rgba(255, 153, 51, 0.9), rgba(230, 230, 230, 0.8) ,rgba(0, 204, 102, 0.9));
}

.Ashoka_Chakra{
	width: 145px;
	top: 18%;
	left: 44%;
}

.Ashoka_Chakra img{
	width: 100%;
	opacity: 0.6;
	z-index: -9999;
}